In [3]:
### Exercicio

#Crei uma tupla chamada livro1 para armazenar informações sobre um livro: titulo, autor e ano de publicacao

livro1 = ("Orgulho e precoceito", "Jane Austen", 1813)

print(livro1)

titulo = livro1[0]
autor = livro1[1]
ano = livro1[2]

print(titulo)
print(autor)
print(ano)

('Orgulho e precoceito', 'Jane Austen', 1813)
Orgulho e precoceito
Jane Austen
1813

In [4]:
#2. Tupla com um unico elemento:
livro_indefinido = ("O pequeno principe",)
titulo = livro_indefinido[0]
print(titulo)

O pequeno principe

In [5]:
# 3 - Tupla sem parenteses
livro_2 = "1985", "O pequeno principe", "1948"

print(livro_2)

('1985', 'O pequeno principe', '1948')

###Uso da Função tuple

In [6]:
lista = ["O Senho dos aneis", "J.R.R Tolkien", 1954]

livro3 = tuple(lista)

print(livro3)

('O Senho dos aneis', 'J.R.R Tolkien', 1954)

###Operação cpom tuplas

In [1]:
# Concatenando tuplas

primeiras_cidades = (1,2)
proximas_cidades = (3,4)

destino_viagem = primeiras_cidades + proximas_cidades

print(destino_viagem)

(1, 2, 3, 4)

### 2. Repetição - visitando algumas cidades mais de uma vez

In [3]:
cidades_favoritas = (1,2)
roteiro_repetido = cidades_favoritas * 2
print(roteiro_repetido)

(1, 2, 1, 2)

### 3. Verificar se um elemento está na tupla

In [5]:
# Verifica se a cidade está inclusa no roteiro

roteiro_total = (1,2,3,4,1,2,2,1,5)

roteiro_incluso = 20 in roteiro_total

print(roteiro_incluso)

False

####Exercicio

In [6]:
## 1. Você posui duas sequencias: A = (1,2)  B = (3,4)
# Cria uma nova sequencia C combinando A e B

A = (1,2)
B = (3,4)

C = A + B

print(C)

(1, 2, 3, 4)

###Repetição de Sequencia

In [8]:
# Repetir a sequencia A 3 vezes para obter uma nova sequencia D

D = A * 3

print(D)

(1, 2, 1, 2, 1, 2)

###Analise de elementos em sequencia:
Utilizando a sequencia E = (1,2,3,4,1,2,2,1), verfique se o numero 2 está presente na sequencia

In [9]:
E = (1,2,3,4,1,2)

F = 2 in E

print(F)

True

####Medotos de tuplas count(), index()

In [11]:
##Dados fornecidos: avaliacoes = (5,4,4,6,5,2,4,3,5,5,1,4,3,5,2)
avaliacoes = (5,4,4,6,5,2,4,3,5,5,1,4,3,5,2)
#1-Determine a quantidade de avaliações com 5 estrela
numero_5_estrelas = avaliacoes.count(5)
print(numero_5_estrelas)
#2-Quantas vezez o filme foi avaliado com 5 esrelas
#3 - Primeira avaliação de 1 estrela
primeria_avalizacao_1_estrela = avaliacoes.index(1) + 1
print(primeria_avalizacao_1_estrela)

5
11

###Desempacotamento de tuplas

In [7]:
# Exercicio Gestão de pacotes de viagens

#Dados fornecidos
pacote_viagem = ("Paris", 5, 1500)

destino, noites, preco = pacote_viagem

print(f"O destino do pacote de viagem é {destino}")
print(f"Quantidade de noites: {noites}")
print(f"Preco do pacote R$ {preco}")

O destino do pacote de viagem é Paris
Quantidade de noites: 5
Preco do pacote R$ 1500